*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: #1c1c1c;
  font-family: "Inter", sans-serif;
  color: white;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

main {
  background-color: #1f2937;
  padding: 5em 3.25em;
}

.content {
  border-bottom: 1px solid #2f3e53;
  margin-bottom: 2.19em;
}

h1 {
  font-family: "Karla", sans-serif;
  font-weight: 800;
  font-size: 2.5rem;
  line-height: 2.5rem;
  letter-spacing: -0.025em;
  color: #4adf86;
  margin: 0;
}

h1::first-line {
  color: white;
}

p {
  font-size: 1.25rem;
  margin: 0.5em 0 5em;
  color: #d5d4d8;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  /* align-items: center; */
}

.error {
  margin: 0;
  padding: 0;
  font-size: 0.9rem;
}
.row {
  display: flex;
  flex-wrap: wrap;
  gap: 1.3em;
  align-items: center;
}

.row + .row {
  margin-bottom: 2.18em;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

[type="checkbox"] {
  display: none;
}

[type="checkbox"] + label {
  padding: 0.3em 0.5em;
  border-radius: 6px;
  font-size: 0.95rem;
  user-select: none;
}

input:not(:checked) + label {
  background-color: #10b981;
}

input:checked + label {
  background-color: #273549;
}

#pass-length {
  background-color: #273549;
  color: white;
  padding: 0;
  margin-left: 0.5em;
  border: none;
  border-radius: 6px;
  font-size: 1.2rem;
  text-align: center;
}

#pass-length:focus {
  outline: none;
}

button {
  background-color: #10b981;
  padding: 0.6em 1em;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  border: none;
  font-family: inherit;
  color: inherit;
  font-size: inherit;
}

.results {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5em;
  margin: auto;
}

.results-info {
  margin: 0;
  padding: 0;
  font-size: 0.8em;
  flex-basis: 1;
  width: 100%;
}

.password {
  min-width: 13.1875em;
  min-height: 2.1em;
  background-color: #273549;
  border-radius: 6px;
  text-align: center;
  line-height: 2em;
  font-weight: 500;
  color: #55f991;
  position: relative;
  display: flex;
  justify-content: center;
}

@media (max-width: 550px) {
  html {
    font-size: 14px;
  }

  main {
    padding: 5em 0;
  }

  section {
    width: 85%;
    margin: auto;
  }
  .password {
    width: 100%;
  }
}
